{{>header}}
{{>navBar}}
<div class="container">
<h2 class="text-center ">ADD</h2>
<form action="/addMethod" method="POST">
    <div class="mb-3">
        <input type="text" name="name" class="form-control" placeholder="Name">
    </div>

    <div class="mb-3">
        <input type="email" name="email" class="form-control" placeholder="E-mail">
    </div>

    <div class="mb-3">
        <input type="number" name="age" class="form-control" placeholder="Age">
    </div>

    <div class="mb-3">
        <button class="btn btn-primary"> {{title}}</button>
    </div>
</form>
</div>
{{>footer}}