{{>header}}
{{>navBar}}
<div class="container">
<a href="/add" class="btn btn-primary"> {{add}} </a>
<section class="row">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</section>
</div>
{{>footer}}