{{>header}}
{{>navbar}}
<section class="container">
<h3 class="text-center my-3 text-primary">Add Address To User</h3>
<form method="post"> 
    <div class="mb-3">
    <label class="form-label">Address Type</label>
    <input class="form-control" name="addrType">
  </div>
  <div class="mb-3">
    <label class="form-label">Address Details</label>
    <input class="form-control" name="addrDetails">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</section>
{{>footer}}